{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}
    <head>
        <title>Contact V4</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <!--===============================================================================================-->
    </head>

    <body>

    <div class="container-contact100">
        <div class="wrap-contact100">
            <form method="POST" action="." class="contact100-form validate-form" enctype="multipart/form-data"> {% csrf_token %}
                <span class="contact100-form-title">
					Hi {{ user }} ! whats up ?
				</span>
                {% if user.is_authenticated %}
                    <div class="wrap-input100 validate-input" data-validate="Name is required">
                        <label class="#">Your Full Name</label>
                        <input class="input100" type="text" name="name">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <label class="#">Email ID </label>
                        <input class="input100" type="text" name="email" placeholder="Enter your email addess">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Current Salary required">
                        <label class="#">Your Current Salary</label>
                        <input class="input100" type="number" name="current_salary" placeholder="Your Current Salary">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Current Salary required">
                        <label class="#">Your Expected Salary</label>
                        <input class="input100" type="number" name="salary_expection"
                               placeholder="Your Expectation Salary">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Current Salary required">
                        <span class="#">Your joining date</span>
                        <input class="input100" type="text" name="join_time" placeholder="Your Expectation Salary">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Message is required">
                        <span class="#">Why You Join here</span>
                        <textarea class="input100" name="why_join" placeholder="Your message here..."></textarea>
                        <span class="focus-input100"></span>
                    </div>


                    <div class="wrap-input100">
                        <label> Available Week day for Interview </label>

                        {% for value, text in form.week_day.field.choices %}
                            <div class="ui slider checkbox">
                                <input id="id_my_field_{{ forloop.counter0 }}" name="{{ form.week_day.name }}"
                                       type="checkbox" value="{{ value }}"{% if value in checked_week_day %}
                                       checked="checked"{% endif %}>
                                <label>{{ text }}</label>
                            </div>
                        {% endfor %}

                    </div>

                    <div class="wrap-input100">
                        <label> Choose your Interview time </label>

                        {% for value, text in form.interview_time.field.choices %}
                            <div class="ui slider checkbox">
                                <input id="id_my_field_{{ forloop.counter0 }}" name="{{ form.interview_time.name }}"
                                       type="checkbox" value="{{ value }}"{% if value in checked_interview_time %}
                                       checked="checked"{% endif %}>
                                <label>{{ text }}</label>
                            </div>
                        {% endfor %}
                    </div>


                    <div class="radio-inline">
                        {% for choice in form.interested_job %}
                            <div class="row">
                                <span class="radio">{{ choice.tag }} &nbsp; &nbsp;{{ choice.choice_label }} </span>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="wrap-input100">
                        <input type="file" name="myfile">
                    </div>

                    <div class="container-contact100-form-btn">
                        <div class="wrap-contact100-form-btn">
                            <div class="contact100-form-bgbtn"></div>
                            <button class="contact100-form-btn">
							<span>
								Submit
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
                            </button>
                        </div>
                    </div>
                    <div class="container-contact100-form-btn">
                        <div class="wrap-contact100-form-btn">
                            <div class="contact100-form-bgbtn"></div>
                            <button class="contact100-form-btn">
							<span>
								<a href="{% url 'logout' %}">logout</a>
                                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
                            </button>
                        </div>
                    </div>
                    </form>
                    </div>
                    </div>

                {% else %}

                    <div class="row">
                        <div class="col">You are not logged in!</div>
                        <div class="col"><a class="h5" style="color:#fc00ff " href="{% url 'login' %} "> login </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">Not Member Please</div>
                        <div class="col"><a class="h5" style="color: #fc00ff" href="{{ url }}/signup/">sigup</a></div>
                    </div>
                    <div class="row">
                        <div class="col">To View Total Information</div>
                        <div class="col"><a class="h5" style="color: #fc00ff" href="{{ url }}/details/">Details for admin</a></div>
                    </div>

                {% endif %}

    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script>
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });
    </script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
{% endblock %}
</body>


